.application h3 {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 56px;
    font-weight: 500;
    font-size: 24px;
}
.application button {
    background-color: #2B3C4E;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 10px;
}
.application label {
    display: block;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
}
.cv {
    border: 1.5px dashed #2B3C4E;
    border-radius: 3px;
    height: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
<<<<<<< HEAD
.cv h6 {
    padding-left: 15px;
=======
.cv label {
    cursor: pointer;
}
.cv img {
    padding-right: 15px;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
>>>>>>> 38fe27767693fe78ade5ccf09ef59d3a602ba248
}
.files-dropzone {
    display: flex;
    align-items: center;
    cursor: pointer;
}