.assessment {
    display: flex
}
.assessment-contents {
    margin-left: 47px;
}
.assessment-heading {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 100px;
}
.ass h1 {
    font-weight: 300;
    font-size: 43px;
    margin-top: 0;
    margin-bottom: 14px;
}
.ass p {
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
}
.timer p {
    font-size: 14px;
}
.timer h1 {
    font-weight: 300;
    font-size: 48px;
    margin: 0 auto;
}
sub {
    font-size: 12px;
}
.take-ass {
    margin-top: 156px;
}
.take-ass p {
    margin-top: 21px;
    margin-bottom: 25px;
}
.take-ass button {
    background-color: #B1B1B1;
}