.dashboard {
    display: flex
}
.dashboard-contents {
    margin-left: 47px;
}
.dashboard-heading {
    display: grid;
    text-align: left;
}
.dashboard-heading h1 {
    font-weight: 300;
    font-size: 43px;
    margin-top: 100px;
}
.dashoard-heading p {
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
}
.application-info {
    text-align: left;
    margin-top: 60px;
}
.application-info h2 {
    font-weight: 300;
    font-size: 48px;
    padding-bottom: 20px;
    border-radius: 4px;
    width: 130px;
}
.application-date h2 {
    border-bottom: 4px solid #006DF0;
}
.application-info h5 {
    font-size: 14px;
    font-weight: normal;
    
}
.application-info p {
    font-size: 12px;;
}
.application-status h2 {
    border-bottom: 4px solid #F09000;
}
.dashboard-info {
    margin-top: 100px;
}
.dashboard-info h6 {
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}
.update {
    padding: 25px 35px 100px 35px;
    border: 1px solid #ECECF9;
    border-radius: 4px;
}
.update h6 {
    margin-bottom: 13px;
    
}
.update-info {
    margin-top: 75px;
    border-bottom: 1px solid #CECECE;
}
.update-info a {
    color: blue;
    font-size: bold;
    text-decoration: none;
}
.take-assessment {
    padding: 25px 35px 100px 35px;
    border: 1px solid #ECECF9;
    border-radius: 4px;
}
.take-assessment p {
    margin-top: 140px;
    margin-bottom: 25px;
}
.application-date h2 {
    border-bottom: 4px solid #006DF0;
}
