.compose{
    display: -webkit-box;
    
      
}
.compose-structure{
    padding-left: 47px;
    padding-top: 50px;
} 
.compose-heading h1{
    font-weight: 100;
    text-align: left;
}
.compose-heading h3{
    font-weight: 500;
    text-align: left;
    font-size: 18px;
}
.compose-file {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}
.compose-file .cv{
    width: 75%;
    height: 120px;
    margin-bottom: 0;
}
.time{
    padding-left: 10%;
    width: 25%;
}
.time h2{
    font-size: 15px;
}
.form{
    text-align: left;
}
.my-question{
    line-height: 2px;
}
.my-question label{
    font-weight: 500;
}
.textarea{
    margin-top: 10px;
    border: 1px solid black;
    color: black;
}
.option-grid{
    
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}
.option-grid label{
    font-weight: 500;
}
.option-grid input[type=text]{
     width: 220%;
     border: 1px solid black;
     color: black;
}
.option-grid2{
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}
.option-grid2 label{
    font-weight: 500;
}
.option-grid2 input[type=text]{
    width: 220%;
    border: 1px solid black;
    color: black;
}
.quiz{
    text-align: center;
    margin-left: 20%;
    
}
