.dash {
    display: flex
}
.dash-contents {
    margin-left: 47px;
}
.dash-heading {
    display: grid;
    text-align: left;
}
.dash-heading h1 {
    font-weight: 300;
    font-size: 43px;
    margin-top: 100px;
}
.dash-heading p {
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
}
.application-info {
    text-align: left;
    margin-top: 60px;
}
.application-info h2 {
    font-weight: 300;
    font-size: 48px;
    padding-bottom: 20px;
    border-radius: 4px;
    width: 130px;
}
.application-info h5 {
    font-size: 14px;
    font-weight: normal;
}
.application-info p {
    font-size: 12px;;
}
.application-curr h2 {
    border-bottom: 4px solid #006DF0;
    color: rgb(184, 164, 164)
}
.application-total h2 {
    border-bottom: 4px solid #00F026;
}
.academy h2 {
    border-bottom: 4px solid #F09000;
}
.dash-info {
    margin-top: 100px;
}
.dash-info h6 {
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}
.history {
    padding: 25px 35px 100px 35px;
}
.history {
    text-align: left;
}
.history p {
    font-family: Nunito Sans;
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 32px;
    text-align: left;
}

.table-row:hover {
    box-shadow: 8px 18px 20px rgba(79, 79, 79, 0.3);
    border-radius: 8px;
    border-left: 7px solid #5ABEFD;
    border-radius: 8px;
}
td {
    padding: 20px 30px;
}
.create-assessment {
    padding: 25px 35px 100px 35px;
    border: 1px solid #ECECF9;
    border-radius: 4px;
}
.create-assessment p {
    margin-top: 70px;
    margin-bottom: 25px;
}
.create-assessment button {
    background-color: #B1B1B1;
}
.application-curr h2 {
    border-bottom: 4px solid #006DF0;
}
.application-total h2 {
    border-bottom: 4px solid #00F026;
}
.academy h2 {
    border-bottom: 4px solid #F09000;
}