.forget button {
    background-color: #2B3C4E;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 10px;
}
.forget label {
    display: block;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
}
.forget p {
    display: block;
    text-align: left;
    color: red;
}