.createapp {
    display: flex
}
.create-contents {
    margin-left: 47px;
}
.create-contents label {
    display: block;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
}
.create-contents button {
    margin-top: 45px;
    background-color: #2B3C4E;
    color: #ffffff;
}
.create-heading {
    text-align: left;
}
.create-heading h1 {
    font-weight: 300;
    font-size: 43px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.uploadfile {
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px dashed #2B3C4E;
}
.uploadfile label {
    cursor: pointer;
}
